<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p style="text-align: left; hyphens: auto; word-spacing: 0.05em; line-height: 1.6;"> 
          allQuark specializes in advanced embedded systems engineering, delivering high-technology 
          solutions to drive innovation in the Indian market. With expertise in complex design and a
          focus on global standards, allQuark empowers industries like IoT, automotive, and 
          healthcare to overcome challenges and bring transformative ideas to life.
        </p>
      </div>
      <div class="col-lg-4">
        <p style="text-align: left; hyphens: auto; word-spacing: 0.05em; line-height: 1.6;">
          allQuark delivers cost-effective solutions tailored to your design needs, specializing in
          R&D and fully owning PoC efforts. We collaborate closely with clients, offering flexible
          strategies to achieve their business goals and drive innovation. Our commitment ensures
          quality, reliability, and a strong foundation for long-term success.
        </p>
      </div>
    </div>
  </div>
</section>
